In [1]:
import json

In [2]:
d={'sSqlBth':'SELECT ','sSqlMsg':'msg'}

In [3]:
sFN='tut10jsonWr.json'

In [4]:
oFile=open(sFN,'w')

In [5]:
sDat=json.dumps(d)

In [8]:
print(sDat)

{"sSqlBth": "SELECT ", "sSqlMsg": "msg"}

In [9]:
oFile.write(sDat)

40

In [10]:
oFile.close()

In [11]:
sFN='tut10jsonRD.json'

In [29]:
oFile=open(sFN,'r')

In [30]:
sRd=oFile.read()

In [31]:
print(sRd)

{
    "sSqlBth": "SELECT ",
    "sSqlMsg": "SELECT * FROM msg",
    "sSqlStp": "SELECT",
    "sSqlMulti": "SELECT * FROM     msg"
}

In [32]:
dRd=json.loads(sRd)

In [33]:
oFile.close()

In [34]:
print(dRd['sSqlBth'])

SELECT

In [35]:
print(dRd['sSqlMsg'])

SELECT * FROM msg