In [1]:
import pandas as pd
import numpy as np

In [2]:
salesData = {("2012", "Q1"): {("North", "Brand A"): 100, ("North", "Brand B"): 80, ("South", "Brand A"): 25, ("South", "Brand B"): 40},("2012", "Q2"): {("North", "Brand A"): 30, ("South", "Brand B"): 50},("2013", "Q1"): {("North", "Brand A"): 80, ("North", "Brand B"): 10, ("South", "Brand B"): 25},("2013", "Q2"): {("North", "Brand A"): 70, ("North", "Brand B"): 50, ("South", "Brand A"): 35, ("South", "Brand B"): 40}}

In [3]:
salesDF = pd.DataFrame(salesData)

In [4]:
salesDF.head(5)

              2012        2013
                Q1    Q2    Q1  Q2
North Brand A  100  30.0  80.0  70
      Brand B   80   NaN  10.0  50
South Brand A   25   NaN   NaN  35
      Brand B   40  50.0  25.0  40

In [5]:
currDF = pd.DataFrame(currSeries)

NameError: name 'currSeries' is not defined

In [6]:
# Default settingpd.DataFrame.from_dict(algos, orient = "columns")

In [7]:
pd.DataFrame.from_dict(algos, orient = "columns")

NameError: name 'algos' is not defined