In [1]:
import pandas as pd
import numpy as np

In [2]:
# Creating a series with 6 rows and user-defined index
ser = pd.Series(["Numpy", "Pandas", "Sklearn", "Tensorflow", "Scrapy", "Keras"], 
                index = ["A", "B", "C", "D", "E", "F"])
# Creating a 6X3 dataframe with defined row and column labels
df = pd.DataFrame(np.random.randn(6, 3), 
                  columns = ["colA", "colB", "colC"], 
                  index = ["R1", "R2", "R3", "R4", "R5", "R6"])
# Creating a panel with 3 items
pan = pd.Panel({"Item1": df+1, "Item2": df, "Item3": df*2})

G:\prog\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3296: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
# Subset using the row-labe
ser["D"]

'Tensorflow'

In [4]:
df["colB"]

R1    0.145540
R2   -0.781257
R3   -0.049833
R4    0.812174
R5   -3.325927
R6   -0.141314
Name: colB, dtype: float64

In [5]:
df["colB"]["R3"], df["colB"][1]

(-0.04983315819852075, -0.7812567021748057)

In [6]:
pan["Item1"]

        colA      colB      colC
R1  0.907495  1.145540  0.359483
R2  1.577954  0.218743  0.831196
R3  1.691525  0.950167  0.951682
R4 -0.392892  1.812174  3.054229
R5 -0.127844 -2.325927  0.791397
R6  2.488880  0.858686  1.180764

In [7]:
df.get("columnA", "NA")

'NA'

In [8]:
df["colD"] = list(range(len(df)))

In [9]:
df

        colA      colB      colC  colD
R1 -0.092505  0.145540 -0.640517     0
R2  0.577954 -0.781257 -0.168804     1
R3  0.691525 -0.049833 -0.048318     2
R4 -1.392892  0.812174  2.054229     3
R5 -1.127844 -3.325927 -0.208603     4
R6  1.488880 -0.141314  0.180764     5

dot operator

In [10]:
df.colA

R1   -0.092505
R2    0.577954
R3    0.691525
R4   -1.392892
R5   -1.127844
R6    1.488880
Name: colA, dtype: float64

In [11]:
df.colA.R3

0.6915245281050261

slice

In [12]:
ser[1:4]

B        Pandas
C       Sklearn
D    Tensorflow
dtype: object

In [13]:
df[:2]

        colA      colB      colC  colD
R1 -0.092505  0.145540 -0.640517     0
R2  0.577954 -0.781257 -0.168804     1

In [14]:
df[2:]

        colA      colB      colC  colD
R3  0.691525 -0.049833 -0.048318     2
R4 -1.392892  0.812174  2.054229     3
R5 -1.127844 -3.325927 -0.208603     4
R6  1.488880 -0.141314  0.180764     5

odd rows

In [15]:
df[::2]

        colA      colB      colC  colD
R1 -0.092505  0.145540 -0.640517     0
R3  0.691525 -0.049833 -0.048318     2
R5 -1.127844 -3.325927 -0.208603     4

even rows

In [16]:
df[1::2]

        colA      colB      colC  colD
R2  0.577954 -0.781257 -0.168804     1
R4 -1.392892  0.812174  2.054229     3
R6  1.488880 -0.141314  0.180764     5

reverse

In [17]:
df[::-1]

        colA      colB      colC  colD
R6  1.488880 -0.141314  0.180764     5
R5 -1.127844 -3.325927 -0.208603     4
R4 -1.392892  0.812174  2.054229     3
R3  0.691525 -0.049833 -0.048318     2
R2  0.577954 -0.781257 -0.168804     1
R1 -0.092505  0.145540 -0.640517     0