In [1]:
import pandas as pd
import numpy as np

In [2]:
ser_loc1 = pd.Series(np.linspace(11, 15, 5))
ser_loc2 = pd.Series(np.linspace(11, 15, 5), index = list("abcde"))

In [3]:
ser_loc1.loc[2]

13.0

In [4]:
ser_loc2.loc["b"]

12.0

In [5]:
ser_loc1.loc[[1, 3, 4]]

1    12.0
3    14.0
4    15.0
dtype: float64

In [6]:
ser_loc2

a    11.0
b    12.0
c    13.0
d    14.0
e    15.0
dtype: float64

In [7]:
ser_loc2.loc[["b", "c", "d"]]

b    12.0
c    13.0
d    14.0
dtype: float64

In [8]:
ser_loc1.loc[1:4]

1    12.0
2    13.0
3    14.0
4    15.0
dtype: float64

In [9]:
ser_loc2.loc["b":"d"]

b    12.0
c    13.0
d    14.0
dtype: float64

In [10]:
ser_loc1.loc[ser_loc1 > 13]

3    14.0
4    15.0
dtype: float64

In [11]:
# Create a dataframe with default row-labels
df_loc1 = pd.DataFrame(np.linspace(1, 25, 25).reshape(5, 5), columns = ["Asia", "Europe", "Africa", "Americas", "Australia"])

# Create a dataframe with custom row labels
df_loc2 = pd.DataFrame(np.linspace(1, 25, 25).reshape(5, 5), columns = ["Asia", "Europe", "Africa", "Americas", "Australia"], index = ["2011", "2012", "2013", "2014", "2015"])

# Indexing with single label
df_loc1.loc[:,"Asia"]

0     1.0
1     6.0
2    11.0
3    16.0
4    21.0
Name: Asia, dtype: float64

In [12]:
df_loc1.loc[2, :]

Asia         11.0
Europe       12.0
Africa       13.0
Americas     14.0
Australia    15.0
Name: 2, dtype: float64

In [13]:
df_loc2.loc["2012", :]

Asia          6.0
Europe        7.0
Africa        8.0
Americas      9.0
Australia    10.0
Name: 2012, dtype: float64

In [14]:
df_loc1.loc[:,["Africa", "Asia"]]

   Africa  Asia
0     3.0   1.0
1     8.0   6.0
2    13.0  11.0
3    18.0  16.0
4    23.0  21.0

In [15]:
df_loc1.loc[:,"Europe":"Americas"]

   Europe  Africa  Americas
0     2.0     3.0       4.0
1     7.0     8.0       9.0
2    12.0    13.0      14.0
3    17.0    18.0      19.0
4    22.0    23.0      24.0

In [16]:
df_loc2.loc[df_loc2["Asia"] > 11, :]

      Asia  Europe  Africa  Americas  Australia
2014  16.0    17.0    18.0      19.0       20.0
2015  21.0    22.0    23.0      24.0       25.0

integer oriented indexing

In [17]:
df_loc1.iloc[3, 2]

18.0

In [18]:
df_loc1.iloc[[1, 4], [0, 2, 3]]

   Asia  Africa  Americas
1   6.0     8.0       9.0
4  21.0    23.0      24.0

In [19]:
df_loc2.iloc[3:,:3]

      Asia  Europe  Africa
2014  16.0    17.0    18.0
2015  21.0    22.0    23.0

In [20]:
df_loc2.iloc[(df_loc2["Asia"] > 11).values, :]

      Asia  Europe  Africa  Americas  Australia
2014  16.0    17.0    18.0      19.0       20.0
2015  21.0    22.0    23.0      24.0       25.0

.iat .at operators

In [21]:
df_loc2.at["2012", "Americas"]

9.0

In [22]:
df_loc1.iat[2, 3]

14.0

mixed indexing

In [23]:
df_loc2.ix["2012":"2014", 0:2]

G:\prog\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

      Asia  Europe
2012   6.0     7.0
2013  11.0    12.0
2014  16.0    17.0