In [3]:
import pandas as pd
import numpy as np

In [4]:
oDat= pd.read_csv("x_dat/PlantGrowth.csv", encoding = "ISO-8859-1")

In [5]:
oDat.head(5)

   Unnamed: 0  weight group
0           1    4.17  ctrl
1           2    5.58  ctrl
2           3    5.18  ctrl
3           4    6.11  ctrl
4           5    4.50  ctrl